.videos {
	margin: 10px 0;
	height: 200px;
	background: #DDD;
}
.post-content{
	background: #BBB;
	height: 460px;
	border: 0 #666 solid;
	border-radius: 0;
	overflow: auto;
}
.post{
	background: #FFF;
	margin: 1px;
	border-top: 1px #B89 solid;
	border-bottom: 1px #B89 solid;
	border-radius: 0;
	padding: 12px;
}
.post:hover{
	background: #DDF;
}
.card{
    margin: 10px;
    box-shadow: rgba(0,0,0,0.4) 0 0 7px 0;
    border: 1px #AAA solid;

}

#lvideos div{
	float: left;
	height: 200px !important;
	width: 200px !important;
	}