.videos {
	margin: 10px 0;
	height: 100px;
	background: #DDD;
}
.post-content{
	background: #99A;
	height: 460px;
	border: 2px #9AF solid;
	border-radius: 5px;
	overflow: auto;
}
.post{
	background: #FFF;
	margin: 1px;
	border-top: 1px #ABF solid;
	border-bottom: 1px #ABF solid;
	border-radius: 5px;
	padding: 12px;
}
.post:hover{
	background: #DDF;
}